name: Serverless-Architecture

on:
  push:
    branches:
      - "**"               
    paths:
      - "serverless-architecture/**"
      - ".github/workflows/main.yaml" 

env: # <-------- take value from git huba action // use TF_VAR_ to link to tf so tf can read value
  TF_VAR_environment: ${{ vars.TF_ENVIRONMENT }}
  TF_VAR_python_version: ${{ vars.PYTHON_VERSION }}
  TF_VAR_project_name: ${{ vars.PROJECT_NAME }}
  TF_VAR_lambda_initial_spec: ${{ vars.LAMBDA_INITIAL_SPEC_HCL }}
  TF_VAR_groq_api: ${{ secrets.GROQ_API }}

jobs:
  terraform:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./serverless-architecture

    steps:
      - name: Checkout Source Code 
        uses: actions/checkout@v4

      - name: AWS creds
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: us-east-1

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.8 

      - name: Terraform fmt
        run: terraform fmt -check

      - name: Terraform init
        run: terraform init -input=false

      - name: Terraform validate
        run: terraform validate

      - name: Terraform plan
        run: terraform plan -input=false

      - name: Terraform apply
        run: terraform apply -auto-approve -input=false
